<!-- <div class="contents" *ngIf="admin">
    <a routerLink="/hrms/">Dashboard</a>
    <a routerLink="/hrms/attendance">Add User</a>
    <a routerLink="/hrms/leave">Attendance Report</a>
    <a routerLink="/hrms/policy">Leave Overview</a>
    <a routerLink="/hrms/policy">Update Policy</a>
</div> -->
<div class="contents">
    <a routerLink="/hrms/">Dashboard</a>
    <a routerLink="/hrms/attendance">Attendance</a>
    <a routerLink="/hrms/leave">Leave Details</a>
    <a routerLink="/hrms/policy">Policy</a>
    <a routerLink="/hrms/adduser">Add User</a>
   
</div>