<div class="contents">
  <a routerLink="/{{ SECURE_MODULE_PATH }}/{{ DASHBOARD_COMPONENT_PATH }}"
    >Dashboard</a
  >
  <a routerLink="/{{ SECURE_MODULE_PATH }}/">Attendance</a>
  <a routerLink="/{{ SECURE_MODULE_PATH }}/{{ LEAVE_COMPONENT_PATH }}"
    >Leave Details</a
  >
  <a routerLink="/{{ SECURE_MODULE_PATH }}/{{ POLICY_COMPONENT_PATH }}"
    >Policy</a
  >
</div>

<div class="contents">
  <a routerLink="/{{ SECURE_MODULE_PATH }}/{{ ADD_USER_COMPONENT_PATH }}"
    >Add User</a
  >
  <a routerLink="/{{ SECURE_MODULE_PATH }}/{{ ATTENDANCE_REPORT_PATH }}"
    >Attendance Report</a
  >
  <a routerLink="/{{ SECURE_MODULE_PATH }}/{{ LEAVE_OVERVIEW_PATH }}"
    >Leave Overview</a
  >
  <a routerLink="/{{ SECURE_MODULE_PATH }}/{{ UPDATE_POLICY_PATH }}"
    >Update Policy</a
  >
</div>
