<div class="main">
  <div class="header">
    <button
      color="primary"
      mat-flat-button
      routerLink="/{{ SECURE_MODULE_PATH }}/{{ LEAVE_MANAGEMENT_PATH }}"
    >
      {{ LEAVE_MANAGEMENT_CONSTANTS.LEAVE_BALANCE }}
    </button>
    <button
      color="primary"
      mat-flat-button
      routerLink="/{{ SECURE_MODULE_PATH }}/{{ LEAVE_MANAGEMENT_PATH }}/{{
        LEAVE_APPLY_PATH
      }}"
    >
      {{ LEAVE_MANAGEMENT_CONSTANTS.APPLY_FOR_LEAVE }}
    </button>
    <button
      color="primary"
      mat-flat-button
      routerLink="/{{ SECURE_MODULE_PATH }}/{{ LEAVE_MANAGEMENT_PATH }}/{{
        LEAVE_STATUS_PATH
      }}"
    >
      {{ LEAVE_MANAGEMENT_CONSTANTS.TRACE_LEAVE }}
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
