// .main{
//   background-color: aliceblue;
//   padding: 20px;
//   height: -webkit-fill-available;
// }

// .leaves {
//   display: flex;
//   justify-content: center;

// }
// .leave {
//   // width: 40%;
//   margin: 20px;
// }
// .remainingleave {
//   width: 40%;
//   margin: 20px;
// }
// .workinghours {
//   // display: flex;
//   // justify-content: center;
//   // height: 50%;
//   width: 100%;
//   margin-bottom: 10px;
// }

html,
body {
  height: 100%;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
  // height: -webkit-fill-available;
}

.workinghours {
  order: 1;
}

.leaves {
  display: flex;
  flex-direction: row;
  order: 2;
  height: 100%;
}

.leave,
.remainingleave {
  flex: 1;
}
