.main {
  height: 100vh;
  display: flex;
  position: fixed;
}

.login-image-left {
  min-height: 100%;
  background-size: cover;
  width: 60vw;
}

.example-container {
  width: 40vw;
  height: 100vh;
  padding: 40px;
}

.card {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

mat-form-field {
  width: 100%;
  align-items: center;
  display: flex;
  padding: 8px;
  border-radius: 20px;
}

mat-card {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 100px;
}

mat-card-title {
  color: #216ab5;
  padding: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login-button {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
}
.header__logo {
  width: 300px;
}

.login-main-button {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
