<div class="main">
  <mat-card>
    <mat-card-content>
      <div class="bar-graph">
        <div class="bar-graph-title">
          <strong>{{ LEAVE_TREND_CONSTANTS.FOR_FIFTEEN_DAYS }}</strong>
        </div>
        <canvas id="barChart" class="bar-chart"></canvas>
      </div>

      <div class="pie-chart-div">
        <div class="pie-chart-title">
          <strong>{{ LEAVE_TREND_CONSTANTS.PICTORIAL_VIEW }} </strong>
        </div>
        <canvas id="pieChart" class="pie-chart-canvas"></canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>
