<div class="main">
  <mat-card>
    <mat-card-content>
      <div style="width: 500px; height: 450px">
        <div class="bar-graph-title">
          <strong>{{ LEAVE_TREND_CONSTANTS.FOR_FIFTEEN_DAYS }}</strong>
        </div>
        <canvas id="barChart" width="400" height="400"></canvas>
      </div>

      <div style="width: 400px; height: 400px">
        <div class="pie-chart">
          <strong>{{ LEAVE_TREND_CONSTANTS.PICTORIAL_VIEW }} </strong>
        </div>
        <canvas id="pieChart" width="400" height="400"></canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>
