mat-card-content {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
.main {
  padding: 1rem;
}
mat-card {
  padding: 2.5rem;
}
.bar-graph-title {
  display: flex;
  justify-content: center;
}
.pie-chart {
  display: flex;
  justify-content: center;
}
