table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.leave-overview {
  margin-left: 20px;
  margin-right: 20px;
}

td,
th {
  width: 1%;
}

.filter {
  margin-top: 20px;
  margin-left: 20px;
  width: 900px;
}

.leave-overview-table {
  margin-right: 20px;
}

button {
  margin-bottom: 5px;
}

.department-search {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
}

.leave-type-search {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  margin-left: 20px;
  width: 200px;
}

.filter-leave-details {
  margin-top: 20px;
  margin-left: 20px;
  width: 500px;
}

.search-container {
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}

input {
  flex: 1;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-group button {
  margin-right: 8px;
  min-width: auto;
}

.small-button {
  font-size: 12px;
  padding: 4px 8px;
}

.filter-leave-dates {
  margin-left: 30px;
  width: 200px;
}

.yellow-text {
  color: darkorange;
}

.green-text {
  color: rgb(5, 249, 5);
}

.red-text {
  color: red;
}
