<mat-form-field appearance="outline" class="department-search">
  <mat-label>Department</mat-label>
  <select
    matNativeControl
    [(ngModel)]="selectedDepartment"
    (change)="applyDepartmentFilter()"
  >
    <option value="">{{ DEPARTMENT_OPTION.ALL }}</option>
    <option value="administration">
      {{ DEPARTMENT_OPTION.ADMINISTRATION }}
    </option>
    <option value="angular">{{ DEPARTMENT_OPTION.ANGULAR }}</option>
    <option value="businessanalyst">
      {{ DEPARTMENT_OPTION.BUSINESS_ANALYST }}
    </option>
    <option value="digitalmarketing">
      {{ DEPARTMENT_OPTION.DIGITAL_MARKETING }}
    </option>
    <option value="dotnet">{{ DEPARTMENT_OPTION.DOTNET }}</option>
    <option value="devops">{{ DEPARTMENT_OPTION.DEVOPS }}</option>
    <option value="flutter">{{ DEPARTMENT_OPTION.FLUTTER }}</option>
    <option value="graphicsdesigner">
      {{ DEPARTMENT_OPTION.GRAPHICS_DESIGNER }}
    </option>
    <option value="qa">{{ DEPARTMENT_OPTION.QA }}</option>
    <option value="ui/ux">{{ DEPARTMENT_OPTION.UIUX }}</option>
  </select>
</mat-form-field>
<mat-form-field appearance="outline" class="filter-leave-dates">
  <mat-label>Leave Dates</mat-label>
  <select
    matNativeControl
    [(ngModel)]="selectedDateFilter"
    (change)="applyDateFilter()"
  >
    <option value="all">{{ LEAVE_DATES.ALL }}</option>
    <option value="today">{{ LEAVE_DATES.TODAY }}</option>
    <option value="tomorrow">{{ LEAVE_DATES.TOMMOROW }}</option>
  </select>
</mat-form-field>

<mat-form-field appearance="outline" class="leave-type-search">
  <mat-label>Leave Type</mat-label>
  <select
    matNativeControl
    [(ngModel)]="selectedLeaveType"
    (change)="applyLeaveTypeFilter()"
  >
    <option value="">{{ LEAVE_TYPE.ALL_LEAVE_TYPE }}</option>
    <option value="Annual">{{ LEAVE_TYPE.ANNUAL_LEAVE }}</option>
    <option value="Sick">{{ LEAVE_TYPE.SICK_LEAVE }}</option>
    <option value="Special">{{ LEAVE_TYPE.SPECIAL_LEAVE }}</option>
  </select>
</mat-form-field>
<mat-form-field appearance="outline" class="filter-leave-details">
  <mat-label>Search</mat-label>
  <div class="search-container">
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. administration"
      #input
      id="input"
    />
    <mat-icon>search</mat-icon>
  </div>
</mat-form-field>

<div class="leave-overview">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="leave-overview-table"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S.N.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + 1 + (paginator?.pageIndex || 0) * (paginator?.pageSize || 0) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</th>
      <td mat-cell *matCellDef="let row">{{ row.employeeName }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
      <td mat-cell *matCellDef="let row">{{ row.department }}</td>
    </ng-container>

    <ng-container matColumnDef="leaveType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</th>
      <td mat-cell *matCellDef="let row">{{ row.leaveType }}</td>
    </ng-container>

    <ng-container matColumnDef="contactInformation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Contact Information
      </th>
      <td mat-cell *matCellDef="let row">{{ row.contactInformation }}</td>
    </ng-container>

    <ng-container matColumnDef="leaveFrom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave From</th>
      <td mat-cell *matCellDef="let row">
        {{ formatDate(row.leaveFrom) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="leaveTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave To</th>
      <td mat-cell *matCellDef="let row">
        {{ formatDate(row.leaveTo) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="firstOrSecondHalf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Full/Half Day</th>
      <td mat-cell *matCellDef="let row">
        {{ row.firstOrSecondHalf }}
      </td>
    </ng-container>

    <ng-container matColumnDef="reasonForLeave">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
      <td mat-cell *matCellDef="let row">{{ row.reasonForLeave }}</td>
    </ng-container>

    <ng-container matColumnDef="totalLeaveDays">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Days</th>
      <td mat-cell *matCellDef="let row">{{ row.totalLeaveDays }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td
        mat-cell
        *matCellDef="let row"
        [ngClass]="{
          'yellow-text': row.status === 'pending',
          'green-text': row.status === 'accepted',
          'red-text': row.status === 'rejected'
        }"
      >
        {{ row.status }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row" class="action-cell">
        <div class="button-group">
          <button
            type="click"
            class="small-button"
            mat-raised-button
            (click)="
              acceptLeave(row.id, row.totalLeaveDays, row.email, row.leaveType)
            "
            [disabled]="row.status !== 'pending'"
            color="primary"
          >
            Accept
          </button>
          <button
            type="click"
            class="small-button"
            mat-raised-button
            (click)="rejectLeave(row.id)"
            [disabled]="row.status !== 'pending'"
          >
            Reject
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
