<div class="fixed-header">
  <mat-toolbar class="header">
    <div class="header__left">
      <button
        mat-icon-button
        class="example-icon"
        type="button"
        (click)="toggleSideMenu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <img
        src="../../../../../assets/images/hrms1.png"
        alt="hrms"
        class="header__logo"
      />
      <app-loading-spinner *ngIf="isLoading$ | async"></app-loading-spinner>
    </div>
    <!-- <span class="example-spacer"></span> -->
    <div class="header__right">
      <button
        mat-raised-button
        color="primary"
        (click)="toggleAdminMode()"
        *ngIf="role === 'admin'"
      >
        {{ isUser ? "Switch To Admin" : "Switch To User" }}
      </button>
      <button
        mat-icon-button
        class="example-icon"
        type="submit"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
