.employee-details-container {
    display: flex;
    justify-content: center;
}

.example-card {
    margin-top: 20px;
    width: 600px;
}

mat-form-field {
    display: flex;
}

.signup-button {
    width: 100%;
}

mat-card-title {
    margin-bottom: 20px;
}