mat-card {
  padding: 16px;
}
mat-card-content {
  padding: 20px;
}

.main-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  mat-card {
    background: #e3e6f7;
    height: 180px;

    mat-card-title {
      padding-left: 8px;
    }
  }
}
.main {
  padding: 1rem;
}
