<div class="main">
  <div class="leave-balance-card">
    <mat-card>
      <mat-card-title>Leave Balance:</mat-card-title>
      <mat-card-content>
        <h3>
          Total Sick Leave:<strong> {{ sickLeaveTotal }}</strong> days
        </h3>
        <h3>
          Total Sick Leave Remaining:<strong> {{ sickLeaveRemaining }}</strong>
          days
        </h3>
        <h3>
          Total Annual Leave Leave:<strong> {{ annualLeaveTotal }}</strong> days
        </h3>
        <h3>
          Total Annual Leave Remaining:<strong>
            {{ annualLeaveRemaining }}</strong
          >
          days
        </h3>
        <h3>
          Total Specialleave Taken:<strong> {{ specialLeaveTaken }}</strong>
          days
        </h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
