<div class="main">
  <div class="leave-balance-card">
    <mat-card>
      <mat-card-title>Leave Balance:</mat-card-title>
      <mat-card-content>
        <h3>
          Total Leave:<strong> {{ totalLeave }}</strong> days
        </h3>
        <h3>
          Total Leave Taken:<strong>{{ leaveTaken }}</strong> days
        </h3>
        <h3>
          Total Leave Remaining: <strong>{{ leaveAvailable }}</strong> days
        </h3>
        <!-- <button (click)="getLeaveBalance()">click</button> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
