mat-form-field {
  width: 100%;
  align-items: center;
  display: flex;
  padding: 4px;
  border-radius: 20px;
}

mat-card {
  width: 60%;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  margin: auto;
  margin-top: 8px;
  display: flex;
  padding: 20px;
}

mat-card-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 16px;
  font-size: large;
}

mat-card-content {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
mat-card-content.leave {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 30px;
  font-style: italic;
}

.header {
  width: 100%;
  display: inline-flex;
  padding: 16px;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}

button {
  width: 200x;
}
