.main {
  display: flex;
}

mat-form-field {
  width: 100%;
  align-items: center;
  display: flex;
  padding: 4px;
  border-radius: 20px;
}

mat-card {
  width: 50%;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  margin: auto;
  margin-top: 8px;
  display: flex;
}

.policyContent {
  display: flex;
}

mat-card-title {
  padding: 16px;
}
