<div class="main">
  <mat-card class="example-card">
    <mat-card-title> {{ POLICY_CONSTANTS.UPDATE }} </mat-card-title>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submitPolicy()">
        <mat-form-field>
          <mat-label>Select Policy Type</mat-label>
          <mat-select
            [(value)]="selected"
            [formControlName]="FORM_CONTROL_NAMES.POLICY_TYPE"
            (selectionChange)="patchFormValue()"
          >
            <mat-option value="HR Policy">{{
              POLICY_CONSTANTS.HR_POLICY
            }}</mat-option>
            <mat-option value="Company Policy">{{
              POLICY_CONSTANTS.COMPANY_POLICY
            }}</mat-option>
            <mat-option value="Leave Policy">{{
              POLICY_CONSTANTS.LEAVE_POLICY
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="leaveDays" *ngIf="selected === 'Leave Policy'">
          <mat-form-field>
            <mat-label>{{ POLICY_CONSTANTS.SICK_LEAVES }}</mat-label>
            <input
              matInput
              type="number"
              [formControlName]="FORM_CONTROL_NAMES.SICK_LEAVE"
            />
            <mat-error *ngIf="sickLeaveFormControl?.hasError('min')">
              Value must be greater than 1
            </mat-error>
            <mat-error *ngIf="sickLeaveFormControl?.hasError('max')">
              Value must be lower than 50
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ POLICY_CONSTANTS.ANNUAL_LEAVES }}</mat-label>
            <input
              matInput
              type="number"
              [formControlName]="FORM_CONTROL_NAMES.ANNUAL_LEAVE"
            />
            <mat-error *ngIf="sickLeaveFormControl?.hasError('min')">
              Value must be greater than 1
            </mat-error>
            <mat-error *ngIf="sickLeaveFormControl?.hasError('max')">
              Value must be lower than 50
            </mat-error>
          </mat-form-field>
        </div>

        <div formArrayName="policyList">
          <ng-container
            *ngFor="let content of policyListArrayControl; index as i"
          >
            <div class="policyContent">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Policy {{ i + 1 }}</mat-label>
                <textarea
                  matInput
                  placeholder="Policy {{ i + 1 }}"
                  [formControlName]="i"
                ></textarea>
              </mat-form-field>
              <button
                type="button"
                mat-icon-button
                (click)="removePolicy(i)"
                color="warn"
              >
                <mat-icon>remove_circle</mat-icon></button
              ><br />
            </div>
          </ng-container>
          <button
            *ngIf="selectPolicyTypeFlag"
            type="button"
            mat-flat-button
            (click)="addPolicy()"
            color="accent"
          >
            Add Policy
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <br />
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="form.invalid"
        >
          SUBMIT
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
