.mat-calendar-header {
  margin-bottom: 5px;
  height: 70px;
}
.mat-calendar-body-cell.lessHour {
  background-color: rgb(234, 234, 24);
}
.mat-calendar-body-cell.sufficientHour {
  background-color: rgb(74, 230, 60);
}
.mat-calendar-body-cell.weekends {
  background-color: rgb(106, 240, 231);
}
