.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  min-width: 120px;
  margin: 0 5px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.calendar {
  min-width: 36vw;
  max-width: 420px;
  min-height: 50vh;
  border: 1px solid rgb(101, 117, 121);
}

.info-container {
  display: flex;
  align-items: center;
  margin: 0 0 250px 20px;
}

.info-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.info-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
}

.sufficient-hours .color-box {
  background-color: rgb(74, 230, 60);
}

.less-hours .color-box {
  background-color: rgb(234, 234, 24);
}

.weekends .color-box {
  background-color: rgb(106, 240, 231);
}
.absent .color-box {
  background-color: beige;
}

.sufficient-hours,
.less-hours,
.weekends {
  color: #333;
}

@media only screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }

  .button {
    margin: 5px 0;
  }

  .small-calendar {
    min-width: 40vw;
    max-width: 70vw;
  }
}
